html,
body{
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #202124;
    color: rgba(173, 168, 168, 1);
}
* {
    box-sizing:border-box;
}
*:focus {
    outline: none;
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
* ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
img {
    max-width: 100%;
    max-height: 100%;
}
select {
    color: rgba(173, 168, 168, 1);
    background-color: transparent;
    border: 1px solid #DCEEF2;
}
button:disabled {
    cursor: not-allowed;
}
button.btn-neon,
label.btn-neon,
a.btn-neon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgba(173, 168, 168, 1);
    background-color: transparent;
    padding: 5px;
    border: 1px solid #DCEEF2;
    cursor: pointer;
}
button.btn-neon:hover,
label.btn-neon:hover,
a.btn-neon:hover,
button.btn-neon:hover {
    background: #DCEEF2;
    box-shadow: 0 0 10px #DCEEF2;
}

input{
    color: #DCEEF2;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    margin-bottom: 10px;
    width: 100%;
}
input:focus {
    border-bottom: 1px solid #DCEEF2;
}
.grid-column-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.builder-container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}
.header {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    height: 30px;
    padding: 5px 10px;
}
.header .title {
    font-weight: bold;
    color: #2196f3;
}
.header button {
}
.sidebar.left {
    left: 0;
    top: 30px;
}
.sidebar.right {
    right: 0;
    top: 30px;
}
.sidebar {
    width: 300px;
    height: calc(100% - 30px);
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    overflow: auto;
}
.webGl-view {
    flex: 1 1 0%;
    height: calc(100% - 30px);
    border: 2px solid transparent;
    overflow: hidden;
}
.control-toolbar {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 40px;
    left: 50%;
    color: #DCEEF2;
    z-index: 999;
    transform: translateX(-50%);
}
.control-toolbar button {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #DCEEF2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: none;
}
.control-toolbar button img {
    width: 15px;
    height: 15px;
    filter: invert(80%);
}
.control-toolbar button:disabled{
}
.control-toolbar button.selected {
    color: #ffffff;
    background-color: #2196f3;
}
.interaction-toolbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 80px;
    left: 320px;
    padding: 5px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    z-index: 999;
}
.interaction-toolbar .image-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    margin: 2px;
}
.interaction-toolbar .image-btn.selected{
    background-color: #2196f3;
}
.interaction-toolbar .image-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.interaction-toolbar .image-btn img{
    width: 25px;
    height: 25px;
}
.tab-category div {
    /*border-right: 1px solid #bac0c8;*/
}
.tab-category > div.selected {
    color: #ffffff;
    background: rgba(70, 94, 115, 0.5);
}
.tab-category div:last-child {
    border-right: none;
}
.draggable {
    background: linear-gradient(rgba(255,255,255,0) 65%, rgba(255,255,255,0.1) 100%);
}
.import,
.geometries,
.widgets
{
    display: flex;
    flex-flow: row wrap;
}
.import {
    justify-content: center;
}
.import .btn-neon{
    width: 120px;
    height: 50px;
    margin: 15px 10px;
}
.section-header {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 9px;
    background-color: rgba(220, 238, 242, 0.1);
    font-size: 14px;
    color: #757f89;
    font-weight: bold;
}
.section-body,
.property-header,
.property-body
{
    padding: 9px;
}
.property-body {
    font-size: 12px;
    border-bottom: 1px solid #38475f;
}

.property-header {
    font-weight: bold;
    font-size: 12px;
    /*border-bottom: 1px solid #d5cfcf;*/
}
.section-transform .property-body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.section-transform .property-body input,
.section-translate .property-body input,
.section-scale .property-body input,
.section-rotation .property-body input
{
    margin-left: 5px;
    width: 60px;
}
.section-animations .section-body select {

}
.section-animations .section-body button {
    margin-left: 5px;
    margin-right: 5px;
}
.section-sequence .property-components button{
    width: 100%;
    margin: 2px;
}
.section-sequence .property-preview .property-body {
}
.section-sequence .property-preview .play-btn{
    display: inline-block;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #36383b;
    margin: 2px;
    cursor: pointer;
}
.property-textcolor .property-body{
    display: flex;
    justify-content: space-evenly;
}
.property-textcolor .property-body span{
    display: inline-block;
    height: 15px;
    flex: 1 1 0;
    cursor: pointer;
}